html, body {
  height: 100%;
  width: 100%;
}

.scg-info {
  background-color: #00928e;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #81d5c8;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.scg-info p {
  margin: 0;
  padding: 0;
}

.scg-info .container-fluid {
  width: 100%;
  padding-left: 12%;
  padding-right: 20%;
}

#scg-info-address {
  position: absolute;
  right: 20%;
  top: 5px;
}

#top-nav-container > nav {
  border-radius: 0px;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;
}

#navbar.container-fluid {
  padding-left: 12%;
  padding-right: 20%;
}

.twitter {
  display: block;
  width: 35px;
  height: 35px;
  background: url('../images/social-media/tw_btn.png') bottom;
  text-indent: -99999px;
  margin-top: 8px;
  margin-right: 20px;
}

.twitter:hover {
  background-position: 0 0;
}

.facebook {
  display: block;
  width: 35px;
  height: 35px;
  background: url('../images/social-media/fb_btn.png') bottom;
  text-indent: -99999px;
  margin-top: 8px;
  margin-right: 20px;
}

.facebook:hover {
  background-position: 0 0;
}

.linkedin {
  display: block;
  width: 35px;
  height: 35px;
  background: url('../images/social-media/linkedin_btn.png') bottom;
  text-indent: -99999px;
  margin-top: 8px;
}

.linkedin:hover {
  background-position: 0 0;
}

ul.nav.navbar-nav {
  font-family: Calibri;
  font-size: 20px;
  font-weight: bold;
  width: calc(100% - 120px);
  /*margin-left: 10%;
  width: -moz-calc(100% - 300px);
  width: -webkit-calc(100% - 300px);
  width: -o-calc(100% - 300px);*/
}

nav.navbar.navbar-default {
  margin: 0;
  position: relative;
  width: auto !important;
}

ul.nav.navbar-nav a {
  color: #cbcbcb;
}

ul.nav.navbar-nav a:hover {
  color: #00928e;
}

ul.nav.navbar-nav > li {
  margin-right: auto;
}

ul.nav.navbar-nav > li.active > a {
  color: #00928e;
  /*background-color: #fff;*/
}

ul.nav.navbar-nav > li.active > a:hover {
  color: #00928e;
}

.social-media-buttons {
  /*position: absolute;
  right: 20%;*/
  position: static;
  float: right;
  width: 120px;
}

.glyphicon.glyphicon-home {
  top: 0;
}
.bg-image{
  position: absolute;
  width: 100vw;
  height: calc(100% - 150px);
  opacity: 1;
  transition: opacity 3s linear;
  z-index: -99;
}

.bg-hidden{
  opacity: 0;
  z-index: -99;
}

#main.container-fluid {
  height: auto;
  width: 100%;
  padding: 0;
  /*padding-top: 85px;*/
  position: relative;
}

#blurb {
  font-size: 22px;
}

#logo-div.col-md-3 {
  width: 25%;
}

#SCGHeader{
  color: #cbcbcb;
  font-size: 22px;
  font-family: Calibri;
  font-weight: bold;
  vertical-align: middle;
  width: 100%;
  display:none;
}

.navbar-toggle{
  width: 34px;
  padding-left: 5px;
  padding-right: 5px;
  border: 0px;
}

.navbar-form{
  width:100%;
}

#search-pill{
  width:300px;
}

#search{
  font-weight: lighter;
  ::-webkit-input-placeholder { color:#f00; }
  ::-moz-placeholder { color:#f00; } /* firefox 19+ */
  :-ms-input-placeholder { color:#f00; } /* ie */
  input:-moz-placeholder { color:#f00; }
}

#SCG-mobile-logo{
  display:none;
  margin: 8px;
}

#top-nav-container{
  box-shadow: 0 -3px 15px 1px #111;
  position: fixed;
  z-index: 99;
  width:100%;

}

.carousel-control {
  padding-top:10%;
  width:5%;
}

/*.jumbotron {
  padding: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 0;
  min-height: auto;
  color: #ffffff;
  box-shadow:inset 0 15px 15px -17px #111;
  border-radius: 0px !important;
  background: url('../images/backgrounds/index_1-1_resize.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.jumbotron h1{
  text-align: center;
  font-size: 50px;
}

#blurb-background{
  background-color: rgba(0, 0, 0, 0.30);
  color: #ffffff;
  padding: 60px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 145px;
}

#blurb-row{
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

#blurb-row > h1{
  text-shadow: 1px 1px 1px #111;
}

#blurb{
  text-align: left;
  text-shadow: 0px 1px 1px #111;
}

.col-md-3 h2{
  text-align: center;
}

#three-column-row{
  background-color: #fff;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-left: 12%;
  padding-right: 12%;
  padding-bottom: 50px;
  box-shadow:inset 0 15px 15px -17px #111;
}

#three-column-row>.col-md-3{
  margin-top: 50px;
  padding-left: 25px;
  padding-right: 25px;
}

#three-column-row>.col-md-3>h2{
  color: rgba(0, 146, 142, 1);
}

.icon{
  max-width: 30%;
  height: auto;
}

.index-text{
  margin:0;
  margin-bottom: 20px;
}

.column-text{
  color: #888;
}

#portfolio-call-to-action{
  max-width: 190px;
  margin: auto;
}

#services-call-to-action{
  max-width: 200px;
  margin: auto;
}

#contact-call-to-action{
  max-width: 120px;
  margin: auto;
}

.call-to-action-text{
  text-align: center;
  font-weight: bold;
  color: #00928e;
  display: inline;
}

.call-to-action-text:hover{
  text-decoration: none;
  color: #00928e;
}

.call-to-action-text:active{
  text-decoration: none;
  color: #00928e;
}

img.next-arrow{
  padding-left: 5px;
  max-height: 40px;
  width: auto;
  vertical-align: middle;
}

#logo-div{
  float:none;
  margin: 0 auto;
}

#jumbo-logo{
  max-width: 100%;
  width: auto;
}

#myCarousel1{
  margin:0;
  padding-top: 85px;
  box-shadow:inset 0 15px 15px -17px #111;
  max-height: 800px;
  height: auto;
}

#main-portfolio{
    height: calc(100% - 150px);
    padding-top: 85px;
}

#main-about{
    height: calc(100% - 150px);
    padding-top: 85px;
}

#myCarousel1{

}

.carousel-indicators{
  bottom:0;
}

.carousel-inner{
  height: 700px;
}

.carousel .item{
  height: 700px;
  background-color: #BBB;
}

.item > .container{
  height:100%;
  width: auto;
}

.container .carousel-caption{
  /*padding-bottom: 20px;*/
  bottom: 0;
}

.carousel-caption .btn{
  background-color: #00928e;
  border-color: #00928e;
}

.carousel-caption .btn:active{
  background-color: #00928e;
  border-color: #00928e;
}

/*.carousel-indicators .active{
  background-color: #00928e;
}*/

.portfolio-slider-item{
  display: block;
  max-height: 500px;
  height:auto;
  min-width: 0!important;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.col-md-7 > h3{
  margin-top: 10px;
  margin-bottom: 20px;
}

.featurette-image{
  max-height: 500px;
  max-width: 500px;
  height: 100%;
  width: 100%;
}

 .featurette-divider {
  border-top: 1px solid #00928e;
  box-shadow: 0px 1px 1px 1px #ddd;
}

/*.well{
  box-shadow: 13px 15px 15px -17px #111;
}*/

#bg-jumbo{
  /*background-color: rgba(0, 0, 0, 0.30);*/
  background: url('../images/backgrounds/Portfolio_bg_1920x1080.png') no-repeat center center fixed;
  height: 100%;
  margin-bottom: 0px;
  padding:0;
  z-index: -1;
  /*padding-top: 30%;*/
  /*margin-left: 10%;
  width: -moz-calc(100% - 300px);
  width: -webkit-calc(100% - 300px);
  width: -o-calc(100% - 300px);*/
}

#jumbo-header{
  margin-top: 0;
  padding-top: 50px;
  color: #fff;
  font-weight: normal;
  font-size: 120px;
  font-family: "Merriweather Sans", sans-serif;
  text-shadow: 1px 1px 1px #111;
}

#jumbo-tint{
  height:100%;
  background-color: rgba(0, 0, 0, 0.10);
}



#portfolio-slider{
  position:fixed;
  bottom: 150px;
  margin:0 !important;
  min-height: 360px;
  height:40%;
  width:100%;
  background: rgba(255, 255, 255, 0.3);
}

.slider-item{
  /*background: rgba(0, 0, 0, 0.0);*/
}



#portfolio-slider > .slick-dots{
  margin-top:20px;
  height:auto;
  bottom: 35px;
}

#portfolio-slider > .slick-dots li button:before{
  /*color: #00928e;*/
  font-size: 40px;
  line-height: 40px;
}

#news-slider > .slick-dots{
  margin-bottom: -20px;
  bottom:0;
}

#news-slider > .slick-dots li{
  margin:0;
}

#news-slider > .slick-dots li button:before{
  font-size: 20px;
}

/* Fix Slider Stacking issue on load*/
.slider {
  display: none;
}
.slider.slick-initialized {
  display: block;
}

#myCarousel{
  background-color: rgba(255, 255, 255, 0.80);
  position: fixed;
  bottom: 0px;
  height: 300px;
  width: 100%;
}

.container.marketing{
  box-shadow:inset 0 15px 15px -17px #111;
  padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;
  width:100% !important;
}

.footer{
  height:150px;
  /*margin-top: 50px;*/
  padding-top: 15px;
  background-color: rgba(0, 146, 142, 1);
  color: #81d5c8;
  box-shadow:inset 0 15px 15px -17px #111;
}

.footer a{
  color:#81d5c8;
}

.footer a:hover{
  color:#fff;
  cursor:pointer; cursor:hand;
  text-decoration: none;
}

@media(max-height: 800px){
  #jumbo-header{
    padding-top: 10px;
    font-size: 60px;
  }
}

@media(max-width: 1350px){
  ul.nav.navbar-nav{
    float:left;
    /*width: 100%;*/
    margin-left: 0px;
    margin-right: 0px;
  }

  #navbar.container-fluid{
    padding: 0px;
  }

  #three-column-row{
    padding-left: 5%;
    padding-right: 5%;
  }

  .container.marketing{
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 1000px){
  .scg-info{
    display:none;
  }
  ul.nav.navbar-nav{
    width:100%;
    margin: 0px;
  }

  .social-media-buttons{
    display: none;
    /*position: static;
    float: right;*/
  }

  .container-fluid.index-content {
    max-height: none;
    padding: 5px;
  }

  .SCG-logo{
    height: 50%;
    width: auto;
  }

  #main-portfolio{
    padding-top: 50px;
    height: calc(100% - 150px);
  }

  #myCarousel1{
    padding-top: 50px;
  }

}

@media (max-width: 767px){ /* 767px so that an ipad still shows big nav bar */
  .social-media-buttons{
    display: none;
  }

  .navbar-form{
    margin-left: 0;
    padding-left: 15px;
  }

  ul.nav.navbar-nav>li>a{
    padding-top: 3px;
    padding-bottom: 3px;
  }

  #SCGHeader{
    display: inline;
  }

  #SCG-mobile-logo{
    display: inline;
  }

  .bg-image{
    top: -250px;
    height: 100vh;
    z-index: -1;
  }

  #blurb-background{
    padding:30px;
    padding-top: 80px;
  }

  #blurb-row{
    text-align: center;

  }

  #blurb-row > h1{
    font-size: 23px;

  }

  #blurb{
    display: none;
  }
  #column-row > .col-md-4{
    margin-top: 20px;
  }

  #jumbo-header{
    padding-top: 20px;
    font-size: 30px;
  }

  #portfolio-slider{
    background-color: transparent;
    max-height: calc(100% - 120px);
    height: 100%;
    bottom:0;
  }

  #main-portfolio{
    height: 100%;
  }

  #portfolio-footer{
    display: none;
  }

  .slider-item{
    margin-left: auto;
    margin-right: auto;
  }

  .carousel .item{
    height: 200px !important;
  }

  .carousel-inner{
    height: 200px;
  }

  .portfolio-slider-item{
    display: none;
  }

  .carousel-caption{
    left: 0;
    right: 0;
  }

  .carousel-caption h1{
    font-size: 23px;
  }

  .carousel-indicators{
    margin-bottom: 0;
  }

  .featurette-divider{
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  .footer{
    font-size: 11px;
    height: 100px;
  }

  #main-portfolio>#bg-container>.bg-image {
    height: calc(100% - 50px);
  }
}

@media (max-width: 450px){
  .featurette-image{
    max-height: 300px;
  }
}
